{% extends "layout.html" %}

{% block content %}

<div class="text-center">Simulations</div>

<table class="table">
  <thead>
    <tr>
      <th>Started</th>
      <th>Completed</th>
      <th>Log</th>
      <th>Download</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
  {% for task in tasks %}
    <tr>
      <td>{{task.created}}</td>
      <td>{{task.completed}}</td>
      {% if task.log_url %}
        <td><a href="{{task.log_url}}">&lt;Link&gt;</a></td>
      {% else %}
        <td>--</td>
      {% endif %}

      {% if task.results_url %}
        <td><a href="{{task.results_url}}">&lt;Link&gt;</a></td>
      {% else %}
        <td>--</td>
      {% endif %}
      <td><a href="/delete/{{task.gs_path}}/">&lt;Link&gt;</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
