{% extends "layout.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <form action="/submit/" method="post" enctype=multipart/form-data>
        <div class="form-group">
          <label for="infile">Input file</label>
          <input class="form-control" type="file" name="infile" id="infile" />
        </div>
        <div class="form-group">
          <label for="datafile">Data file (optional)</label>
          <input class="form-control" type="file" name="datafile" id="datafile" />
        </div>
        <div class="form-group">
          <label for="nproc">Nproc</label>
          <input type="text" name="nproc" id="nproc" />
        </div>
        <input type="submit" value="Submit" />
      </form>
    </div>
  </div>
</div>
{% endblock %}
